*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#598076,#589770);
}

.bill-card{
    position: relative;
    width: 370px;
    height: auto;
    background: #8a568a;
    padding: 40px 35px 60px;
    border: 1px solid rgb(172, 119, 119);
    border-radius: 5px;
    box-shadow: inset 0 0 1px #5a2525;
}
.text{
    font-size: 30px;
    color: #c7c7c7;
    font-weight: 600;
    letter-spacing: 2px;
}
#input-box input,#input-box1 input,#input-box2 input,#input-box3 input{
    height: 50px; 
    Width: 100%;
    font-size: 15px;
    color:#868686; 
    padding:0 15px;
    background: Linear-gradient(rgb(255, 255, 255), #fafcfd);
    border-radius: 0 5px 5px 0;
    border: 1px solid #444; 
}

.form button{
    height: 50px; 
    Width: 100%;
    font-size: 15px;
    color:#868686; 
    padding:0 15px;
    background: Linear-gradient(rgb(50, 78, 88), #4c697c);
    border-radius: 0 5px 5px 0;
    border: 1px solid #444; 
    /*caret-color: #339933;*/
    }

    #btn{
        margin-top: 25px;
        color: #868686;
    }
    #btn a{
        color: #637063;
        text-decoration: none;
    }

    button{
        margin-top: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
    }